h2 {
  font-family: 'Courier New', Courier, monospace;
}

.App {
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #707070;
}

.calci {
  width : 400px;
  height: 500px;
  flex-direction: column;
  display: flex;
  cursor: pointer;
}
.calci:active {
  cursor: grab;
}


.display {
  width: 398px;
  height: 98px;
  border: 0.001em white solid;
  background-color: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  color:whitesmoke;
}

.buttons {
  width : 400px;
  height: 400px;
  flex-direction: row;
  display: flex;
}

.left {
  flex : 75%;
  height: 100%;
  background-color: chartreuse;
}
.right {
  flex : 25%;
  height: 100%;
  background-color: burlywood ;
}
.other_buttons {
  width : 300px;
  height: 100px;
  flex-direction: row;
  display: flex;
}

#other_btn{
  width : 124px;
  height : 98px;
  border : 1px black solid;
  background-color: #efa134;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nums {
  width : 300px;
  height : 300px;
  display: flex;
  flex-wrap: wrap;  

  background-color: blanchedalmond;
}

#num {
  width : 98px;
  height : 73px;
  border : 1px black solid;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

#operators {
  width : 98px;
  height : 73px;
  border : 1px black solid;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#equal {
  width : 98px;
  height : 98px;
  border : 1px black solid;
  background-color: lightgreen ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}